
$dark: #1B1A20;
$light-dark: #22222A;
$gold: #968361;
$grey: #A7A8AC;

.header {
  background-color: $light-dark;
  display: flex;
  justify-content: space-around;
  padding: 4rem 0;
  border-bottom: 2px solid $grey;


  &__tittle {
    color: $gold;
    font-size: 3rem;
  }
}